body{
  background-color: #e9e4eb;
}
.desktop-1{
  font-family: "Maven Pro";
}
.c_text{
  color:#192A51;
  margin: auto;
}
.logopng{
  position: relative;
  width: 180px;
  height: 130px;
  flex-shrink: 0;
  top:12px;
}
p,div{
  color: #192A51;
  font-family: "Maven Pro";
  display:flex;
  justify-content: left;
  align-items: center;
}
.videos {
  position: absolute;
  top: 1054.88px;
  left: 929.27px;
  border-radius: 5px;
  background-color: #B4BED0;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25), 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 2px solid #B4BED0;
  box-sizing: border-box;
  width: 249.73px;
  height: 151.24px;
}
.take-a-break {
  position:absolute;
  top: 1054.88px;
  left: 596.64px;
  border-radius: 5px;
  background-color: #B4BED0;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25), 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 2px solid #B4BED0;
  box-sizing: border-box;
  width: 249.73px;
  height: 151.24px;
}
.study-music {
  position: absolute;
  top: 1057.9px;
  left: 264px;
  border-radius: 5px;
  background-color: #B4BED0;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25), 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 2px solid #B4BED0;
  box-sizing: border-box;
  width: 249.73px;
  height: 151.24px;
}
.games{
  position: absolute;
  top: 826px;
  left: 929.27px;
  border-radius: 5px;
  background-color: #B4BED0;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25), 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 2px solid #B4BED0;
  box-sizing: border-box;
  width: 249.73px;
  height: 151.24px;
}
.tools {
  position: absolute;
  top: 826px;
  left: 596.64px;
  border-radius: 5px;
  background-color: #B4BED0;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25), 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 2px solid #B4BED0;
  box-sizing: border-box;
  width: 249.73px;
  height: 151.24px;
}
.study-techniques {
  position: absolute;
  top: 826px;
  left: 264px;
  border-radius: 5px;
  background-color:#B4BED0;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25), 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 2px solid #B4BED0;
  box-sizing: border-box;
  width: 249.73px;
  height: 151.24px;
  cursor: pointer;
}
.categories {
  position: absolute;
  text-align: center;
  top: 715px;
  /* left: calc(50% - 74px); */
  left: 646px;
  font-size: 25px;
  text-transform: uppercase;
  font-weight: 500;
  color: #192A51;
}
.categories_line{
  position:absolute;
  left: 238px;
  top: 730px;
  /* background: #192A51; */
}
.about-us {
  position: absolute;
  top: 9px;
  left: 420px;
  font-size: 25px;
  font-weight: 600;
  text-align: center;
}
.aboutus_three,
.aboutus_one,
.aboutus_two {
  position: absolute;
  top: 156px;
  left: 22px;
  border-radius: 50%;
  background-color: #D9D9D9;
  width: 175px;
  height: 175px;
}
.aboutus_three,
.aboutus_two {
  left: 390px;
}
.aboutus_three {
  left: 759px;
}
.aboutus {
  position: absolute;
  right: 237.01px;
  bottom: 803px;
  width: 964.99px;
  height: 331px;
}
.aboutus_line {
  position:absolute;
  left: 0px;
  top: 25px;
}
.study-smarter-not-container {
  position: absolute;
  top: 200px;
  left: 188px;
  font-size: 80px;
  text-transform: capitalize;
  display: inline-block;
  color: #192A51;
  text-align: left;
  width: 577px;
  height: 185px;
}
.study {
  margin: 0;
  text-align: left;
}
.studying-made-easy {
  color: #192A51;
  font-size: 25px;
  font-family: Maven Pro;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-block-start: 0;
  margin-block-end: 15px;
}
.studying-made-easy-container {
  position: absolute;
  top: 454px;
  left: 188px;
  color: #192A51;
  text-align: left;
}
.pomodoro-icon {
  position: absolute;
  top: 477.77px;
  right: 559px;
  width: 76px;
  height: 63px;
  overflow: hidden;
}
.scholarhat-icon {
  position: absolute;
  top: 185.45px;
  right: 493.89px;
  width: 101.22px;
  height: 80.87px;
}
.book-icon,
.image-2-icon {
  position: absolute;
  top: 287.93px;
  right: 318.5px;
  width: 214.01px;
  height: 180.34px;
}
.image-2-icon {
  top: 236px;
  right: 238px;
  width: 53px;
  height: 58px;
  object-fit: cover;
}
.mindmap-icon {
  position: absolute;
  top: 509.36px;
  right: 227.75px;
  width: 100.47px;
  height: 97.32px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Maven Pro", sans-serif;
}
a {
  text-decoration: none;
}
.header {
  position: relative;
  height: 80px;
  width: 100%;
  z-index: 100;
  padding: 0 20px;
}
.nav {
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
}
.nav,
.nav_item {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: space-between;
}
.nav_logo,
.nav_link,
.button {
  color: #192A51;
}
.nav_logo, .logopng {
  font-size: 30px;
  align-content: center;
}
.nav_item {
  font-weight:480;
  column-gap: 25px;
}
.nav_link:hover {
  color:rgba(124, 42, 232, 0.259);
}
.button {
  padding: 6px 24px;
  border: 2px solid #192A51;
  background: transparent;
  border-radius: 6px;
  cursor: pointer;
}
.button:hover{
  background-color: #192A51;
  color:#fff;
}
.button:active {
  transform: scale(0.98);
}
.button_ls{
  padding: 6px 24px;
  border: 2px solid #e9e4eb;
  background-color: #E9E4EB;
  border-radius: 6px;
  cursor: pointer;
  color:#192A51;
}
.button_ls:hover{
  background-color: #192A51;
  color:#E9E4EB;
}
.button_ls:active {
  transform: scale(0.98);
}
/* Home */
.home {
  position: relative;
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center;
}
.home::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 100;
  opacity: 0;
  pointer-events: none;
  transition: all 0.5s ease-out;
}
.home.show::before {
  opacity: 1;
  pointer-events: auto;
}
/* Form */
.form_container {
  position: fixed;
  max-width: 320px;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1.2);
  z-index: 101;
  background: #fff;
  padding: 25px;
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.4s ease-out;
}
.home.show .form_container {
  opacity: 1;
  pointer-events: auto;
  transform: translate(-50%, -50%) scale(1);
}
.signup_form {
  display: none;
}
.form_container.active .signup_form {
  display: block;
}
.form_container.active .login_form {
  display: none;
}
.form_close {
  position: absolute;
  top: 10px;
  right: 20px;
  color: #0b0217;
  font-size: 22px;
  opacity: 0.7;
  cursor: pointer;
}
.form_container h2 {
  font-size: 22px;
  color: #0b0217;
  text-align: center;
}
.input_box {
  position: relative;
  margin-top: 30px;
  width: 100%;
  height: 40px;
}
.input_box input {
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  padding: 0 30px;
  color: #333;
  transition: all 0.2s ease;
  border-bottom: 1.5px solid #aaaaaa;
}
.input_box input:focus {
  border-color: #192A51;
}
.input_box i {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
  color: #707070;
}
.input_box i.user,
.input_box i.password {
  left: 0;
}
.input_box input:focus ~ i.user,
.input_box input:focus ~ i.password {
  color:#192A51;
}
.input_box i.pw_hide {
  right: 0;
  font-size: 18px;
  cursor: pointer;
}
.option_field {
  margin-top: 14px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.form_container a {
  color:#192A51;
  font-size: 12px;
}
.form_container a:hover {
  text-decoration: underline;
}
.checkbox {
  display: flex;
  column-gap: 8px;
  white-space: nowrap;
}
.checkbox input {
  accent-color:#192A51;
}
.checkbox label {
  font-size: 12px;
  cursor: pointer;
  user-select: none;
  color: #192A51;
}
.form_container .button {
  background:#e9e4eb;
  margin-top: 30px;
  width: 100%;
  padding: 10px 0;
  border-radius: 10px;
}
.login_signup {
  font-size: 12px;
  text-align: center;
  margin-top: 15px;
}


/* ssbb */

.dot-lines-icon {
  position: absolute;
  top: 233.88px;
  right: 215.28px;
  width: 408.36px;
  height: 276.62px;
}
.suggestions {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  width: 185px;
  height: 29.445px;
  font-weight: 500;
  font-family: Maven Pro;
  align-content: center;
}
textarea{
  position: absolute;
  top: 49px;
  width: 1068px;
  height: 153px;
  flex-shrink: 0;
  font-family: Maven Pro;
  font-weight: 100;
  border-width: 0px;
  background-color: #E0CAD2;
  border-color: #192A51;
}
.rating {
  position: relative;
  top: 78px;
  left: 365px;
  display: inline-block;
  height: 44px;
  text-align: center;
}
.star4,
.star5,
.star2,
.star1,
.star3 {
  position: relative;
  top: 31px;
  left: 0px;
  width: 49.44px;
  height: 42.55px;
  justify-content: space-between;
}
.review-sub{
  top: 412px;
  left: calc(50% - 113px);
  border-radius: 9px;
  background-color: rgba(165, 205, 114, 0.64);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 230px;
  height: 64px;
  text-align: center;
}
.review,
.review-sub{
  position: absolute;
}
.review {
  top: 1468px;
  left: 185px;
  width: 1070px;
  height: 476px;
  text-align: left;
  align-items: center;
}
.goup{
  position: absolute;
  top:3000px;
  left: 143px;
  bottom: 220px;
  width: 90px;
  height: 90px;
  flex-shrink: 0;
}
.desktop-1 {
  width: 1440px;
  height: 3327px;
  position: relative;
  background-color: #E9E4EB;
  width: 100%;
  height: 3327px;
  overflow: hidden;
  text-align: center;
  font-family: Maven Pro;
}
