body{
    width: 430px;
    height: 450px;
    font-family: Maven Pro;
}
.span {
    font-family: Maven Pro;
  }
  .login1 {
    font-family: Maven Pro;
  }
  .login {
    position: relative;
    font-size: 22px;
    color:#192A51;
    text-align: left;
  }
  .login-wrapper {
    cursor: pointer;
    border: 0;
    padding: 9px 0px;
    background-color: #c3d4e1;
    position: absolute;
    width: calc(100% - 305px);
    top: 255px;
    right: 160px;
    left: 145px;
    border-radius: 5px;
    height: 45px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    align-items: center;
    justify-content: flex-end;
  }
  .sign-up {
    align-self: stretch;
    position: relative;
    font-size: 22px;
    font-family: Maven Pro;
    color: black;
    text-align: left;
  }
  .signup,
  .user1 {
    position: absolute;
  }
  .signup {
    cursor: pointer;
    border: 0;
    padding: 9px 23px;
    background-color: #E0CAD2;
    width: calc(100% - 307px);
    top: 324px;
    right: 161px;
    left: 146px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    align-items: flex-start;
    justify-content: flex-end;
  }
  .user1 {
    top: 96.15px;
    right: 5.45px;
    display: inline-block;
    width: 59.94px;
    height: 28.85px;
  }
  .image-1-icon,
  .user {
    position: absolute;
    width: 85px;
  }
  .image-1-icon {
    top: 0;
    right: 0;
    height: 83.33px;
    object-fit: fill;
  }
  .user {
    top: 81.25px;
    left: 165.5px;
    height: 125px;
  }
  .profile {
    position: relative;
    border-radius: 10px;
    background-color: #FFF;
    width: 100%;
    height: 450px;
    overflow: hidden;
    cursor: pointer;
    text-align: left;
    font-size: 23px;
    color: black;
    font-family: Maven Pro;
  }
  
